:root {
    --primary-color: #f0f0f0;
    --secondary-color: #117ac5;
    --background-color: #e5f0b560;
    --accent1-color: #013011;
    --accent2-color: #498041de;
    --font-family: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* about us page styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 280px 1fr;
    align-items: center;
    height: 150px;
    background-color: var(--background-color);
    border-radius: 10px;
}

header img {
    display: block;
    justify-self: end;
    border-radius: 8px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}

nav ul li {
    margin: 8px;
}

nav ul li a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: bold;
    padding: 12px;
}

.history {
    display: flex;
    flex-direction: column;
}

.history-content {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    align-items: center;
    width: 100%;
}

.history-content img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #2e2e2e;
    justify-self: center;
    display: block;
}
.history-content p {
    text-align: justify;
}

.adventure-gallery {
    display: flex;
    justify-content: center;

}

.adventure-gallery img {
    width: 140px;
    height: 100px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px #2e2e2e;

}

.adventure-gallery figure figcaption {
    text-align: center;
    font-size: 1em;
    font: bold;
    margin-top: 4px;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 10px;
}

footer p {
    text-align: center;
    font-size: 1.2em;  
}

footer .socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socialmedia img {
    width: 40px;
    height: 40px;
    margin: 0 8px;
}
h1, h2 {
    font-family: var(--font-family);
    color: var(--primary-color);
    background-color: var(--accent2-color);
    text-align: center;
}

nav, p, section, article {
  margin: 18px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 5px;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: var(--accent2-color);
    font-size: 1.5em;
}

.hero article {
    position: absolute;
    bottom: 80px;
    width: 95%;
    height: auto;
    justify-content: space-between;
    padding: 0;
    text-align: center;
    background-color: var(--accent2-color);
    font-size: .8em;
    color: var(--primary-color);
}

.hero article img {
    float: right;
    border-radius: 10px;
    margin:  10px;
    width: 60px;
    box-shadow: 0 0 10px #2e2e2e;
}

/* Contact Page Styles */

.contact-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 24px auto;
}

.contact-info p {
    margin: 2px;
    padding: 0;
    font-size: 1em;
    color: var(--accent1-color);
}

.contact-info h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
    background: none;
    color: var(--accent1-color);
}

/* Form and Map Styles */

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    margin: 24px auto;
    gap: 32px;
}

.map {
    box-shadow: 0 0 10px #2e2e2e;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    height: 330px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1px;
    margin: 1px;
}

.box-item, .field {
    color: var(--accent1-color);
    font-size: .8em;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.field {
    border: 1px solid gray;
    border-radius: 4px;
    width: 250px;
    margin-left: 30px;
}

.purpose {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 1px;
    margin: 1px;
    align-items: center;
}

.purpose p {
    margin: 0;
    padding: 3px;
    font-size: .8em;
    color: var(--accent1-color);
    text-align: left;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 1px;
    font-size: .8em;
    margin: 1px;
    margin-left: -15px;
}

.options-field {
    vertical-align: middle;
    margin-left: 5px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1px;
    margin: 1px;
    color: var(--accent1-color);
}
.message label {
    font-size: .8em;
    padding: 3px;
}

.message textarea {
    border: 1px solid gray;
    border-radius: 4px;
    width: 320px;
    height: 80px;
    padding: 5px;
    font-size: .8em;
    color: var(--accent1-color);
    margin-left: 3px;
}

.newsletter {
    font-size: .8em;
    padding: 1px;
    margin-left: -10px;
    color: var(--accent1-color);
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px auto;
    gap: 12px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: var(--background-color);
}

.team h2 {
    background-color: rgb(0, 0, 0, 0);
    color: var(--accent1-color);
}

