* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    color: #ffff;
    background-color: #333
}

h1 {
    margin: .5rem;
}

form {
    color: black;
    background-color: aliceblue;
}

code {
    display: block;
    background-color: black;
    color: white;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}

input, textarea, select, button {
    padding: 1rem;
    width: 340px;

}

button {
    background-color: blue;
    color: white;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}