* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: 1px solid black;


}

nav {
  background-color: darkblue;
  padding: 10px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}
h1 {
  color: darkblue;
  padding: .5rem;
}

main img {
  float: right;
  width: 150px;
  height: auto;
  border: var(--border-color);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  text-align: center;
}

aside h2 {
  position: relative;
  top: 30px;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 20px;
  border-top: 1px solid black;
  text-align: center;
}

/* Class selectors */
.box {
  border: 1px solid rgb(87, 84, 84);
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(224, 220, 220);
  color: darkblue;
}

.indent {
  padding-left: 2rem;
}