* {
  margin: 0;
  padding: 0;
}

body {
    
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

header, footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  padding: 10px;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
  margin: 10px;
  text-align: center;

}

h2 {
    border-bottom: 1px solid black;
}

img {
  width: 100%;
  height: auto;
  box-shadow: #333 0px 0px 30px;
}
section {
  margin: 20px 0px;
  padding: 10px;
  font-size: 1rem;
  background-color: #abe;
  border: 1px solid rgb(0 0 0 / 0.1);
}

section p {
  text-align: left;
  margin: 10px;
}

ul {
  margin: 10px 20px;
}

footer {
  font-size: 1rem;
}